@font-face {
    font-family: 'MapoGoldenPier';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoGoldenPierA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'MapoGoldenPier', cursive;
}

body {
    width: 100vw;
    height: 100vh;

    background-color: ivory;
    background-image: url('https://new-year.spartacodingclub.kr/images/pattern.png');
    background-position: 1000px 200px;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.rtan {
    width: 200px;
    height: 195px;

    margin: 100px auto 50px auto;
    padding-top: 5px;

    display: block;

    border: solid 3px darkred;
    border-radius: 200px;
    box-shadow: 0px 0px 10px 0px darkred;

    background-color: darkred;
    background-size: cover;
    background-position: center;
    background-image: url('https://new-year.spartacodingclub.kr/images/yearS1.png');

    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 1.5rem;
}

.title {
    color: darkred;
    font-size: 2rem;

    margin-bottom: 40px;
}

.msg {
    display: none;

    color: darkred;
    text-align: center;
    font-size: 1.8rem;
    line-height: 42px;
}

.btn-back {
     width: 130px;
     height: 50px;

     color: darkred;
     background-color: white;

     border: 2px solid darkred;
     border-radius: 10px;

     font-size: 1.2rem;
     cursor: pointer;
}

.btn-share {
    width: 140px;
    height: 50px;

    margin-top: 40px;

    border: 2px solid white;
    border-radius: 10px;

    color: white;
    background-color: darkred;

    font-size: 1.2rem;
    cursor: pointer;
}

@media screen and (max-width: 780px)  {

    body {
        background-position: 70px -70px;
        background-size: 500px;
    }

    .rtan {
        margin-top: 50px;
    }

    .title {
        font-size: 1.8rem;
    }

    .msg {
        padding: 0 20px;
        font-size: 1.5rem;
    }

    .msg > br {
        display: none;
    }

}